<!-- Oxford bibliography citation template -->
<!-- Processes [ref:id] notation for bibliography entries -->
<div class="citation-bibliography">
    <p class="bibliography-entry">
        {{#if author}}{{author}}{{/if}}{{#if year}} ({{year}}){{/if}}{{#if title}} '{{title}}'{{/if}}{{#if journal}} <em>{{journal}}</em>{{/if}}{{#if volume}} {{volume}}{{/if}}{{#if issue}}({{issue}}){{/if}}{{#if pages}} {{pages}}{{/if}}{{#if doi}} &lt;https://doi.org/{{doi}}&gt;{{/if}}{{#if url}} &lt;<a href="{{url}}">{{url}}</a>&gt;{{/if}}{{#if abstract}} [Abstract: {{abstract}}]{{/if}}.
    </p>
</div>