<!-- Bibliography citation template -->
<div class="citation-bibliography">
    <p class="bibliography-entry">
        {{#if author}}<strong>{{author}}</strong>.{{/if}}
        {{#if year}} ({{year}}).{{/if}}
        {{#if title}} <em>{{title}}</em>.{{/if}}
        {{#if publication}} {{publication}}{{/if}}
        {{#if volume}}, Vol. {{volume}}{{/if}}
        {{#if issue}}, No. {{issue}}{{/if}}
        {{#if pages}}, pp. {{pages}}{{/if}}.
        {{#if doi}} DOI: {{doi}}{{/if}}
        {{#if url}} Available at: <a href="{{url}}">{{url}}</a>{{/if}}
    </p>
</div>